<p id="notice"><%= notice %></p>
<div>
<%= form_tag(search_sections_url, method: "get") do %>
    <%= label_tag(:q, "Search for course:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("search") %>
<% end %>
</div>
<h1>Listing Sections</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Course</th>
      <th>Professor</th>
      <th>Number</th>
      <th>Location</th>
      <th>Classtime</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sections.each do |section| %>
      <tr>
        <td><%= section.course.name %></td>
        <td><%= section.professor.lname %></td>
        <td><%= section.number %></td>
        <td><%= section.location %></td>
        <td><%= section.classTime %></td>
        <td><%= link_to 'Show', section %></td>
        <td><%= link_to 'Edit', edit_section_path(section) %></td>
        <td><%= link_to 'Destroy', section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Section', new_section_path %>
