<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @section.course.name %>
</p>

<p>
  <strong>Professor:</strong>
  <%= @section.professor.lname %>
</p>

<p>
  <strong>Number:</strong>
  <%= @section.number %>
</p>

<p>
  <strong>Location:</strong>
  <%= @section.location %>
</p>

<p>
  <strong>Classtime:</strong>
  <%= @section.classTime %>
</p>

<ul>
  <% @section.students.each do |student| %>
    <li><%= student.fname %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
