<div class='navbar navbar-inverse'>
	<ul class="navlist" >
	  <li><%= link_to 'students', root_path %></li>
	  <li><%= link_to 'sections', sections_url %></li>
	  <li><%= link_to 'courses', courses_path %></li>
	  <li><%= link_to 'professors', professors_path %></li>
	  <%= render 'layouts/navigation_links' %>
	</ul>
</div>